@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sigmar+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

img {
    width: 45px;
    height: 45px;
}

header {
    background-color: rgb(231, 231, 231);
    padding: 20px;
}

h1 {
    font-family: 'honk';
    color: rgb(7, 111, 78);
    text-align: center;
}

h2 {
    font-family: 'Sigmar one';
    color: rgb(112, 31, 31);
    font-size: 23px;
    text-align: center;
    margin: 20px 0;
}

ul {
    margin: 10px 50px;
}

ol {
    margin: 10px 50px;
}

h4 {
    font-size: 20px;
    margin: 10px;
}

footer {
    background-color: rgb(255, 233, 227);
    padding: 20px;
    font-size: 25px;
    margin: 10px 0;
    
}
h3 img{
    width: 30px;
    height: 30px;
}
h3 a img{
    width: 30px;
    height: 30px;
}
h6 p{
    color: rgb(255, 255, 255);
    margin: 80px 0px ;
}

hr {
    margin: 20px 0;
}

h4 a:hover {
    margin: 10px;
    background-color: rgb(202, 202, 202);
}

h4 a{
    color: black;
    text-decoration: none;
}
h3 a{
    display: inline-block;
    color: rgb(216, 113, 39);
    /* padding: 14px 20px; */
    text-decoration: none;
    font-family: 'Kanit';
}
h3{
    margin: 5px 10px;
}

p{
    margin: 10px 35px;
}
h5 p{
    color: white;
}
p a img{
    width:25px;
    height: 25px;
}

@media (max-width: 600px){
    h1{
        text-align: center;
    }
    header{
        background-color: rgb(182, 182, 182);
    }
    img{
        width: 30px;
        height: 30px;
    }
    p{
        margin: 0px 10px;
    }
    h6 p{
        margin: 50px;
    }
    h5 p{
        margin: 50px;
    }
}
@media (min-width: 601px) and (max-width: 1024px){
    header{
        background-color: rgb(206, 206, 206);
    }
    h5 p{
        margin: 50px;
    }
    img{
        width: 40px;
        height: 0px;
    }
}