@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sigmar+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

img {
    width: 45px;
    height: 45px;
}

header {
    background-color: rgb(231, 231, 231);
    padding: 20px;
}

h1 {
    font-family: 'honk';
    color: rgb(7, 111, 78);
    text-align: center;
}

h2 {
    font-family: 'Sigmar one';
    color: rgb(112, 31, 31);
    font-size: 23px;
    text-align: center;
    margin: 20px;
}

ul {
    margin: 10px 50px;
}

ol {
    margin: 10px 50px;
}

h4 {
    font-size: 20px;
    margin: 10px;
}

footer {
    background-color: rgb(255, 233, 227);
    padding: 30px;
    font-size: 25px;
}

hr {
    margin: 10px 0;
}

h4 a:hover {
    margin: 10px;
}

p{
    margin: 10px 35px;
}

@media (max-width: 600px){
    h1{
        text-align: center;
    }
    header{
        background-color: rgb(182, 182, 182);
    }
    footer{
        position: fixed;
    }
    img{
        width: 30px;
        height: 30px;
    }
    p{
        margin: 0px 10px;
    }
}
@media (min-width: 601px) and (max-width: 1024px){
    header{
        background-color: rgb(206, 206, 206);
    }
    footer{
        bottom: 0%;
    }
    img{
        width: 40px;
        height: 40px;
    }
}